.vscode
.DS_Store
vivado_project/
.kernel.elf
.kernel.mem
deps
pretty-secure-system/
hdl/obj_dir/
kernel/kernel
kernel/kernel.mem
kernel/kernel.bin
kernel/_kernel.txt
hdl/logs
testcode/*.o
sim/logs/
sim/obj_dir/csr_file.mem
sim/obj_dir/kernel.elf
sim/obj_dir/kernel.mem
bugs/
riscv-privileged-20211203.pdf
riscv-spec-20191213.pdf
riscv-calling.pdf
SP21-Thesis-Ravichandran.pdf
